[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npx prisma migrate deploy && node dist/server.js"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
